.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5px;
}

.searchBar {
  display: flex;
  align-items: center;
  border: 2px solid #FFC1CC;
  border-radius: 20px;
  width: 400px;
  background-color: #fff;
  position: relative;
}

.searchBar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
  background: transparent;
}

.searchBar img {
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  text-decoration: none;
  background-color:#C2185B;
  border-radius: 20px;
  color: #333;
  transition: 0.3s;
}
.divContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFCADD;
  height: 40px;
  width: 800px;
  gap: 20px;
  position: sticky;
  top: 0;
}

.pItem h4 {
  display: flex;
  justify-content: center;
}

.productContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 900px;
  max-height: 500px;
  overflow-y: scroll;
}

.pItem {
  display: flex;
  width: 50px;
  padding: 10px;
}

.pItemName {
  display: flex;
  width: 250px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid #FFC1CC;
}

.Aaction {
  display: flex;
  width: 60px;
  height: 40px;
  justify-content: center;
  cursor: pointer;
}

.suggestionBox {
  position: absolute;
  background-color: white;
  border-radius:5px;
  width: 400px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  margin-left:400px;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.suggestionItem:hover {
  background-color: #FFE4EC;
}
