.orderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
background-color: white;
  min-height: auto;
   margin: 0;
    padding: 0;
    max-height: 75vh;
    overflow-y: auto;
    padding-right: 10px;
}




.itemTot {
  display: flex;
 gap: 15px;
  border-top: 1px pink solid;
padding: 10px;


  
}

.itemTot img {
  width: 100px;
  height: 100px;
  object-fit: cover;

}

.oItem {
  
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  color: #333;
}

.itemDetails {
 
display: flex;


 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
border-radius: 6px;
  background-color: #fdfdfd;
  
}
.itemDetails div{
    
   padding: 20px;

}

select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 14px;
  width: fit-content;
}